@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-agribank-maroon: #A61D37;
  --color-agribank-green: #005030;
  --color-agribank-gold: #FFD700;
}

@layer base {
  body {
    @apply font-sans text-gray-900 bg-gray-50;
  }
}
